.App{
  text-align: center;
  color:blue;
  font-size: 3em;
}
.person{
  text-align: center;
  background-color:rgb(105, 190, 179);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width:25%;
  margin-left: auto;
  margin-right: auto;
  color:beige;
}

